<%= form_with model: project do |form| %>
  <div>
    <%= form.label :name %>*<br>
    <%= form.text_field :name %>
    <% project.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :start_date %>*<br>
    <%= form.date_field :start_date %>
    <% project.errors.full_messages_for(:start_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
  <%= form.label :end_date %>*<br>
  <%= form.date_field :end_date %>
  <% project.errors.full_messages_for(:end_date).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
